/*.sticky {*/
/*  position: -webkit-sticky !important;*/
/*  position: sticky !important;*/
/*  top: 0px !important;*/
/*  right:0px !important;*/
/*  z-index: 1 !important;*/
/*}*/

.affix-top {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }


h1 {
  text-align: center;
}